* {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

body {
	display: flex;
	flex-direction: row;
}

header {
	font-size: 25px;
}

#navbar {
	height: 100%;
	width: 260px;
	position: fixed;
	z-index: 1;
	overflow-x: hidden;
	padding-top: 20px;
	border-right: 3px solid black;
}

#navbar li {
	border-bottom: 1px solid black;
	padding-top: 5px;
	padding-bottom: 5px;
}

#navbar h1{
	padding: 6px 8px 6px 16px;
	font-size: 30px;
	border-bottom: 1px solid black;
}

#navbar li a {
	text-decoration: none;
	font-size: 18px;
	padding: 6px 8px 6px 16px;
	color: #000;
}

#main-doc {
	margin-left: 300px;
	padding: 20px;
}

#main-doc header{
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 10px;
}

.main-section p {
	padding-left: 20px;
	padding-bottom: 10px;
}

.main-section ul {
	padding-left: 60px;
}

.main-section ul li {
	list-style: disc;
	padding-bottom: 10px;
}

@media (max-width: 480px) {

	body {
		max-width: 480px;
	}
	
	#navbar {
		display: none;
	}

	#main-doc {
		margin-left: 20px;
	}

	#main-doc header{
		font-size: 20px;
		font-weight: bold;
		padding-bottom: 10px;
	}

	.main-section p {
		padding-left: 15px;
		padding-bottom: 8px;
		font-size: 12px;
	}

	.main-section ul li {
		list-style: disc;
		padding-bottom: 8px;
		font-size: 12px;
	}

	.main-section code {
		font-size: 12px;
		padding-bottom: 8px;	
		padding-left: 15px;
	}
}